# Arquivos compilados do Java
*.class

# Pasta de output do IntelliJ
/out/

# Arquivos de log
*.log

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos e pastas do IntelliJ IDEA
.idea/
*.iml